

body {
   background:#fff;
	background-image: url("../images/wyt.jpg");
	background-repeat: cover;
	font-size: 14px;
	width: 100%;

	min-height: 100%;

	
	font-family: 'Oxygen-Regular';
   
    margin: 0;
}
.nav_style {
    background: #ffe366;
      padding: 2em 0;
      line-height: 40px;


}

.navcol ul li a{
    font-size: 20px;
    text-align: center;
    color: teal !important;
}
.navcol ul li a:hover  {
    background: #fff !important;
        color: #fe9126 !important;

}
 .logo h1 a{
    font-size:65%;
    text-align: center;
    margin: 0em 0 0;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    text-decoration: none;
    color:teal !important;
    padding: center;
}
a .navbar-brand{
    float: left;

}
.navbar-brand{
  margin-top: -45px;
/* line-height:20px !important;
*/
padding-bottom: -50px;
}
.navbar-default .navbar-nav {
  margin-top: 19px;
}
.navbar-toggle{
    background-color:#ffdb4d;
}
.dsc{
	color: #719ae8;
	font-size: 	80px;
	margin-top: 150px;
	text-align: center;
}
.dsc2{
	color: 666666;
	text-align: center;
	font-size: 40px;
}
.line{
	width: 150px;
	border: solid;
	color: #ffdb4d;
}
.getstarted {
    margin-top: 50px !important;
   	
}
.footer {
    margin-top: 20%;
    background: #2b2a2a;
    padding: 35px 0;

}
.footer p{

	color:#afafaf;
	line-height:50px;
	margin-bottom:2em;
	font-size: 1.5em;
	margin-top: 1.5em;
}
p .fot{
	color: #ffdb4d;
	margin-top: 50px;
} 

.wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 15%;
}
.request {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  background-color: darkgrey;
}
.history{
  margin-top: 100px;
  text-align: center;
}
.dsc3{
  color: #6699cc;
  
  text-align: center;
  font-size: 60px !important;
    font-weight:200;
    margin-top: 15% !important;
}
.dsc4{
  margin-top: 20px;
  margin-left: 38%;
}
.dsc5{
  color: #6699cc;
  
  text-align: center;
  font-size: 60px !important;
    font-weight:200;
    margin-top: 2% !important;
}
.input {
  padding:1%;

}

.files {
  text-align: center !important;

}

.spanner{
  
}

.image {
  width: 100%;
/*  margin: 0 auto;
*/  text-align: center;

}
